extends ./layouts/main.jade
block content
    .col-md-9
        .row
            article.receipts-wrapper.col-md-6
                h1.receipt_title Receipt Title
                date.receipt_date 01.01.2015
                img.receipt_img(src="http://placehold.it/350x150", alt="receipt1")
                p.receipt_info
                |Etiam lobortis a metus laoreet luctus. Suspendisse vitae dignissim magna.
                |Duis quis nisl luctus, lacinia purus nec, ullamcorper eros. Sed id arcu sapien.
                |Sed aliquam viverra nisi, vitae lobortis lectus mattis vel. Morbi ut dictum eros.
                | Fusce condimentum interdum blandit.
                a.receipt_more-info(href="receipt") More info

            article.receipts-wrapper.col-md-6
                h1.receipt_title Receipt Title 2
                date.receipt_date 01.02.2015
                img.receipt_img(src="http://placehold.it/250x150", alt="receipt1")
                p.receipt_info
                |Etiam lobortis a metus laoreet luctus. Suspendisse vitae dignissim magna.
                |Duis quis nisl luctus, lacinia purus nec, ullamcorper eros. Sed id arcu sapien.
                |Sed aliquam viverra nisi, vitae lobortis lectus mattis vel. Morbi ut dictum eros.
                | Fusce condimentum interdum blandit.
                a.receipt_more-info(href="receipt") More info

            article.receipts-wrapper.col-md-6
                h1.receipt_title Receipt Title 2
                date.receipt_date 01.02.2015
                img.receipt_img(src="http://placehold.it/350x150", alt="receipt1")
                p.receipt_info
                |Etiam lobortis a metus laoreet luctus. Suspendisse vitae dignissim magna.
                |Duis quis nisl luctus, lacinia purus nec, ullamcorper eros. Sed id arcu sapien.
                |Sed aliquam viverra nisi, vitae lobortis lectus mattis vel. Morbi ut dictum eros.
                | Fusce condimentum interdum blandit.
                a.receipt_more-info More info

            article.receipts-wrapper.col-md-6
                h1.receipt_title Receipt Title 2
                date.receipt_date 01.02.2015
                img.receipt_img(src="http://placehold.it/350x150", alt="receipt1")
                p.receipt_info
                |Etiam lobortis a metus laoreet luctus. Suspendisse vitae dignissim magna.
                |Duis quis nisl luctus, lacinia purus nec, ullamcorper eros. Sed id arcu sapien.
                |Sed aliquam viverra nisi, vitae lobortis lectus mattis vel. Morbi ut dictum eros.
                | Fusce condimentum interdum blandit.
                a.receipt_more-info More info