extends ./include/layout.jade
block content
    .col-xs-9
        .row
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="product", role="button").btn.btn-primary More info
                            a(href="#", role="button").btn.btn-default Add to cart
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="product", role="button").btn.btn-primary More info
                            a(href="#", role="button").btn.btn-default Add to cart
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="product", role="button").btn.btn-primary More info
                            a(href="#", role="button").btn.btn-default Add to cart
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="product", role="button").btn.btn-primary More info
                            a(href="#", role="button").btn.btn-default Add to cart
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="#", role="button").btn.btn-primary Button
                            a(href="#", role="button").btn.btn-default Button
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="#", role="button").btn.btn-primary Button
                            a(href="#", role="button").btn.btn-default Button
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="#", role="button").btn.btn-primary Button
                            a(href="#", role="button").btn.btn-default Button
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="#", role="button").btn.btn-primary Button
                            a(href="#", role="button").btn.btn-default Button
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="#", role="button").btn.btn-primary Button
                            a(href="#", role="button").btn.btn-default Button
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="#", role="button").btn.btn-primary Button
                            a(href="#", role="button").btn.btn-default Button
            .col-xs-6.col-sm-4
                .thumbnail
                    img
                    .caption
                        h1 Title
                        p Bla bla bla bla
                        p
                            a(href="#", role="button").btn.btn-primary Button
                            a(href="#", role="button").btn.btn-default Button