extends ./include/layout.jade
block content
    .col-xs-9
        .row
            div.jumbotron
                .container
                    .col-xs-12.col-sm-4
                        img
                    .col-xs-12.col-sm-8
                        h1 Hello, world!
                        p blsalkfnhskjf fajsfbsajfn sjdbskjda
                        ul
                            li Price:
                            li Discounts:
                            li Features:
                            li Discounts:
                        p:a.btn.btn-primary.btn-lg(href="#")
                            i.fa.fa-list-alt
                            |Return to product list
                        p:a.btn.btn-primary.btn-lg(href="#")
                            i.fa.fa-cart-plus.fa-2x
                            |Add to cart
