doctype html
html
    head
        title Shopping Cart
        link(href='css/main.css', rel="stylesheet", type="text/css")
        script(src='/js/main.js')
    body
        header
            ul.nav
                li
                    a(href="/") Home
                li
                    a(href="cart") Shopping Cart
