include ./includes/header.jade
section#wrapper
    h1 Shopping cart
    p Your chosen products are:
    article.box
        h1
            a(href="tablet") Tablet
        h2 Price: 200 BGN
        p Posted on:
            time 01.03.2015
        .info
            img(src='img/4.jpg')
            ul
                li DISPLAY 10.1" (25.65 CM) LED HD IPS 1280X800
                li OS ANDROID KITKAT 4.4
                li CPU INTEL T Z3745 QUAD CORE 1.86GHZ, 2M CACHE
                li RAM 1 GB, ROM 16 GB
                li WIRELESS 802.11 B/G/N, BLUETOOTH 4.0, GPS
                li 9 hours battery life
        button.remove(onClick="removeElement()") Remove
    article.box
        h1
            a(href="tablet") Tablet
        h2 Price: 200 BGN
        p Posted on:
            time 01.03.2015
        .info
            img(src='img/4.jpg')
            ul
                li DISPLAY 10.1" (25.65 CM) LED HD IPS 1280X800
                li OS ANDROID KITKAT 4.4
                li CPU INTEL T Z3745 QUAD CORE 1.86GHZ, 2M CACHE
                li RAM 1 GB, ROM 16 GB
                li WIRELESS 802.11 B/G/N, BLUETOOTH 4.0, GPS
                li 9 hours battery life
        button.remove(onClick="removeElement()") Remove
