include ./includes/header.jade
section#wrapper
    article.product
        h1 Laptop Lenovo Yoga
        h2 Price: 1200 BGN
        p Posted on:
            time 19.03.2015
        .info
            img(src="img/1.jpg")
            ul
                li DISPLAY 13.3" QHD, MULTITOUCH
                li CPU INTEL CORE M-5Y71, 4M CACHE, UP TO 2.90 GHZ
                li RAM 8GB
                li HDD 512GB SSD
                li VIDEO INTEGRATED
                li CAMERA HD 72OP
                li BLUETOOTH 4.0, 802.11 A/C WIFI, GIGA LAN
                li 2 X USB 3.0, 1 X DC-IN WITH USB 2.0 FUNCTION, 4-IN-1 CARD READER (SD, MMC, SDXC, SDHC), MICRO-HDMI OUT, AUDIO COMBO JACK
                li OS WINDOWS 8.1
                li battery life up to 7.30h.
                li Weight: 1.2 kg
            p
                |Laptop: лаптоп или ноутбук е название за преносим персонален компютър, като първият лаптоп на пазара е
                |IBM 5100 1975.
                |Ultrabook и Netbook са разновидности на Nоtеbook-а , но са много по-тънки и компактни.
                |Основните компоненти при избора на лаптоп, на които трябва да обърнете внимание са:скорост на процесора,
                |големина на RAM паметта, капацитет на твърдия диск, размер на екрана, бързо действие на видеокартата и тегло.
                |Всички съвременни лаптопи имат вградена web камера и карта за безжична връзка.
            button
                a(hrer="#") Add to Cart