include ./includes/header.jade
section#wrapper
    article.product
        h1
            a(href="tablet") Tablet
        h2 Price: 200 BGN
        p Posted on:
            time 01.03.2015
        .info
            img(src='img/4.jpg')
            ul
                li DISPLAY 10.1" (25.65 CM) LED HD IPS 1280X800
                li OS ANDROID KITKAT 4.4
                li CPU INTEL T Z3745 QUAD CORE 1.86GHZ, 2M CACHE
                li RAM 1 GB, ROM 16 GB
                li WIRELESS 802.11 B/G/N, BLUETOOTH 4.0, GPS
                li 9 hours battery life
            p
             |Таблет е преносимо мобилно компютърно устройство по-голямо от мобилен телефон и по-малко от лаптоп.
             |Използва се сензорен - touch screen.
             |Основните функции и хардуер при таблетите са: Wireless,
             |E-mail, GPS,камера, E-book,медия плейър и др. Теглото на таблетите е от 0,5 до 1 кг.
            button
                a(onClick="addItem(Tablet, 200BGN)") Add to Cart